.pro {
    height:50px;
  }
  
body {background-color: aquamarine;
      border:10px black solid;
     
}

.txt{
  border: 2px solid black;
  padding: 50px;
  margin: 200px;
  border-radius: 5px;
}

.seleccionados{
  text-align: center;

}